<div class="w-full bg-base-300 p-4 mt-auto">
  <div class="flex justify-center text-3xl">
    <%= current_account.name %>
  </div>
  <div class="flex flex-wrap justify-center">
    <% Spina::Page.all.regular_pages.active.in_menu.sorted.live.each do |page| %>
      <%= link_to page.title, page.materialized_path, class: "p-4" %>
    <% end %>
    <%= link_to "Crayta", "https://crayta.com", class: "p-4" %>
    <%= link_to "Discord", "https://discord.gg/TAa7kwJQSy", class: "p-4" %>
  </div>
</div>
