<div class="hero h-[65vh] min-w-[20%] w-[unset] grow border border-primary bg-base-200 relative" style="background-image: url(<%= hero_url %>)">

  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <% if local_assigns[:title].present? %>
        <h1 class="text-5xl text-white font-bold drop-shadow-xl"><%= title %></h1>
      <% end %>
      <% if local_assigns[:headline].present? %>
        <p class="py-6"><%= headline %></p>
      <% end %>
    </div>
  </div>
</div>