<% presenter = Spina::MenuPresenter.new(Spina::Page.all) %>
<% presenter.menu_css = "menu menu-horizontal p-0" %>

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <% presenter.list_css = "menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52" %>
      <%= presenter.to_html %>

    </div>
    <%= link_to current_account.name, root_url, class: "btn btn-ghost normal-case text-xl" %>
  </div>
  <div class="navbar-center hidden lg:flex">
    <% presenter.list_css = "menu menu-horizontal p-0" %>
    <%= presenter.to_html %>
  </div>
  <div class="navbar-end"></div>
</div>