<%= link_to to, class: "hero min-w-[20%] w-[unset] border grow flex items-center justify-center relative text-white", style: "background-image: url('#{image}')" do %>
  <div class="hero-overlay bg-opacity-60 absolute hover:opacity-0 transition-opacity"></div>
  <div class="text-5xl font-bold drop-shadow hero-content"><%= title %></div>
<% end %>